/* This file is required for compatability with Moodle 3.5 */


img.empty-placeholder-image-sm {
    max-width: 200px;
}

#page-header .card-body, #page-header .card {
    background: #F4F4F4;
    border: none;
    padding: 0;
}

/* remove mobile app link form footer */
a[href="https://download.moodle.org/mobile?version=2018051702.14&lang=en&iosappid=633359593&androidappid=com.moodle.moodlemobile"] {
    display: none;
}
