/* the gear dropdown menu should be on the right side of the header  */
.menubar.d-flex {
    float: right;
}

/* the standard course header should only display on small screens  */
@media (min-width: 480px) {
  .page-context-header {
    display: none;
  }
}

.page-header-headings {
    margin-top: 30px;
    text-align: center;
}

/* stops part of the header image being hidden behind navbar  */
.unit_title_container {
    margin-top: 80px;
}

/* makes gear dropdown menu icon black */
#course-header .dropdown a {
    color: black;
}

/* drag and drop prompt should not be hidden behind the navbar */
#dndupload-status {
  margin-top: 80px;
}

/* sets colour of tabs */
.tab_content {
    color: white;
    background-color: #466273;
}

.tab_content:hover {
    color: black;
    background-color: white;
}

/* makes breadcrumbs align properly with margin  */
.final_header_content #page-header .col-12 {
    padding: 0;
}

/* sets background colour of currently selected tab to white */
a.nav-link.active div {
    background-color: white !important;
}

.tab_content, a.nav-link.active {
    border-radius: 5px 5px 0 0;
    margin-left: 3px;
}

.final_header_content #page-header {
    margin: 0;
}

/* Mobile layout  */
@media (max-width: 480px) {
  #page-header-unit a#dropdown-0 {
      display: none;
  }

  .final_header_content .page-header-headings {
    display: none;
  }

  #page-header-unit .page-header-headings {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    margin-top: 50px;
    min-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  a#dropdown-1 .icon {
      font-size: 20px;
  }

  #page-header .col-12.pt-3.pb-3 {
    padding-bottom: 0 !important;
  }

  .onetopic .nav-item {
    width: 100%;
  }

  #myoverview_courses_view li.nav-item, #myoverview_courses_view li.nav-item .nav-link, #myoverview_timeline_view li.nav-item, #myoverview_timeline_view li.nav-item .nav-link {
    width: 100%;
  }

}

@media (max-width: 500px) {

  .page-context-header {
    display: none;
  }

  .final_header_content .card {
    margin-top: 25px;
  }
}

/* Moves settings menu to the correct position */
.dropdown-menu.dropdown-menu-right.menu.align-tr-br.show {
    transform: translate3d(0px, 24px, 0px) !important;
}

.form-inline label {
    justify-content: normal !important;

}

/* Stops the icon for adding sections being partially covered up  */
a.add-sections {
    padding-left: 5px;
}

.final_header_content .col-12.pt-3.pb-3 {
    padding-bottom: 0 !important;
}

/* Course text */
section#region-main .editor_atto h1[style], section#region-main .editor_atto h2[style], section#region-main .editor_atto h3[style], section#region-main .editor_atto h4[style], section#region-main .editor_atto h5[style], section#region-main .editor_atto h1, section#region-main .editor_atto h2, section#region-main .editor_atto h3, section#region-main .editor_atto h4, section#region-main .editor_atto h5, section#region-main .single-section h1, section#region-main .single-section h2, section#region-main .single-section h3, section#region-main .single-section h4, section#region-main .single-section h5, section#region-main .single-section h1[style], section#region-main .single-section h2[style], section#region-main .single-section h3[style], section#region-main .single-section h4[style], section#region-main .single-section h5[style] {
    font-family: OpenSans-Semi,"Trebuchet MS"!important;
    font-weight: 400;
    letter-spacing: normal!important;
    line-height: 25px!important;
    font-size: 20px!important;
    padding-top: 30px!important;
    padding-left: 0px!important;
    margin-left: 0px!important;
}

section#region-main .editor_atto span[style*="font-size: small;"], section#region-main .editor_atto span[style*="font-size: normal;"], section#region-main .editor_atto span[style*="font-size: medium;"], section#region-main .editor_atto span[style*="font-size: large;"], section#region-main .editor_atto span[style*="font-size: x-large;"], section#region-main .editor_atto span[style*="font-style: normal;"], section#region-main .single-section span[style*="font-size: small;"], section#region-main .single-section span[style*="font-size: normal;"], section#region-main .single-section span[style*="font-size: medium;"], section#region-main .single-section span[style*="font-size: large;"], section#region-main .single-section span[style*="font-size: x-large;"], section#region-main .single-section span[style*="font-style: normal;"], section#region-main .single-section p {
    font-family: OpenSans,"Trebuchet MS"!important;
    font-size: 15px!important;
    font-weight: 400;
    letter-spacing: 0.45px!important;
    line-height: 25px!important;
    padding-left: 0px!important;
    margin-left: 0px!important;
}
