/* the gear dropdown menu should be on the right side of the header  */
.menubar.d-flex {
    float: right;
}

/* the standard course header should only display on small screens  */
@media (min-width: 480px) {
  .page-context-header {
    display: none;
  }
}

.page-header-headings {
    margin-top: 30px;
    text-align: center;
}

/* drag and drop prompt should not be hidden behind the navbar */
#dndupload-status {
  margin-top: 80px;
}
