input#dropdown-selector{
  display: none;
}

/* Set a border underneath the navbar, no shadow before scrolling down  */
.navbar {
  box-shadow: none;
  border-bottom: 1px solid #d4d4d4;
}

/* Add a shadow underneath the navbar after scrolling down */
.nav-border {
  box-shadow: 0px 4px 4px rgba(0,0,0,.08) !important;
}

.usermenu .dropdown-menu {
    margin-top: -2px !important;
}

@media (max-width: 1435px) {
    .navbar-brand {
      display: none !important;
    }
}

@media (min-width: 1435px) {
  a.brand.shortname {
    display: none;
    }
  }

@media (max-width: 994px) {
  .navbar .navbar-nav.d-none.d-md-flex {
    display: none !important;
  }

  .navbar .nav.navbar-nav.ml-auto {
    margin-left: auto !important;
  }

}

@media (max-width: 375px) {
  .usermenu .dropdown {
    max-width: 44px;
  }

  .nav-link i.icon.fa.fa-comment.fa-fw {
    margin-left: 4px;
  }

  .usermenu .action-menu-trigger {
    margin-left: 15px;
  }

  div#nav-notification-popover-container {
    margin: 0;
  }

  .navbar .popover-region {
    margin-right: 0px;
  }

}

@media (max-width: 355px) {

  i.icon.fa.fa-comment.fa-fw {
    margin-left: 9px !important;
  }

  div#nav-notification-popover-container {
    margin: 0;
  }

  .popover-region-toggle.nav-link {
    padding-left: 0 !important;
  }

  .usermenu {
    width: 51px;
  }

  .navbar .popover-region {
    margin-right: 10px;
  }

}

.mobile-links {
  display: none;
}

.dropdown-menu {
  right: 0;
  left: inherit !important;
}

li.dropdown.nav-item {
    height: 80px;
}

.dropdown-menu, a.dropdown-item {
background-color: #33373C !important;
color: white !important;
margin-top: 0;
}

a.brand.shortname {
    font-size: 10pt;
    line-height: 11pt;
    color: #333;
    margin-left: 0;
    letter-spacing: .25em;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar.fixed-top .dropdown .dropdown-menu {
    max-height: unset !important;
    overflow-y: unset !important;
}

/* Replacement for the submenu class that was removed in Bootstrap 4  */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: -2px;
    right: 100% !important;
    left: inherit;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
/* keeps messages and notifications box underneath navbar  */
.popover-region-container {
    margin-top: 35px;
}

/* Removes search icon from navbar when search is enabled */
.search-input-wrapper {
    display: none;
}

.navbar-nav .icon {
    font-size: 25px;
    opacity: .7;
}

.nav-link i.icon.fa.fa-comment.fa-fw {
    margin-left: 11px;
}

.usermenu .action-menu-trigger {
    margin-left: 30px;
}

li.dropdown.nav-item {
    margin-left: 6px;
    margin-right: 6px;
}

li.dropdown-item a {
    text-decoration: none;
}

a.nav-link.dropdown-underline {
    color: rgb(87,87,87) !important;
}

.search-input-wrapper {
    overflow: visible;
}

.search-input-wrapper>div .icon {
    margin-top: 8px;
}

/* navbar dropdown menus toggle on mouseover */
.dropdown.nav-item:hover > .dropdown-menu {
    display: block;
}

ul.dropdown-menu {
    margin-top: 0px !important;
}

.dropdown-toggle.nav-link {
    padding: 0 !important
}

a.dropdown-underline::before {
    content: "";
    position: absolute;
    width: auto;
    height: 3px;
    bottom: 25px;
    left: 8px;
    right: 10px;
    background-color: #e20613;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

span.usertext::before {
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 44px;
    background-color: #e20613;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* Remove the dropdown arrow from the user menu */
.usermenu .dropdown-toggle::after {
    display: none;
}

/* Remove unecessary margin from user picture */
.usermenu img.userpicture {
    margin-right: 0;
}

.usertext {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: unset !important;
  min-height: 35px;
  line-height: 1;
}

a.dropdown-item:hover {
    background-color: #202020 !important;
}

.dropdown-item:hover {
    background-color: #202020;
}

.navbar .count-container {
    top: 0px;
    right: -16px;
	background-color: #e20613;
    font-size: 11px;
    min-width: 10px;
    text-align: center;
    font-weight: 600;
}

ol.breadcrumb{
	padding-top: 11px;
}
