/* Media CSS
-------------------------*/

/* #page-header { */
    /* margin-top: 80px; */
	/* min-height: 250px; */
/* } */

header#page-header.header-image{
	max-height: 250px;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-right: -12px;
	margin-left: -15px;
}

header#page-header.header-image .breadcrumb {
    background: rgba(255,255,255,.9);
    margin-top: 180px;
    padding: 10px 10px 10px 20px;
    margin-left: -15px;
}

#page-header .card-body, #page-header .card {
    background: transparent !important;
}

div#page-header.opt00{
	background-color: #EAEAEA;
}
header#page-header.opt01{
	background-image: url("../../../solent2019/pix/unit-header/01.png");
}
header#page-header.opt02{
	background-image: url("../../../solent2019/pix/unit-header/02.png");
}
header#page-header.opt03{
	background-image: url("../../../solent2019/pix/unit-header/03.png");
}
header#page-header.opt04{
	background-image: url("../../../solent2019/pix/unit-header/04.png");
}
header#page-header.opt05{
	background-image: url("../../../solent2019/pix/unit-header/05.png");
}
header#page-header.opt06{
	background-image: url("../../../solent2019/pix/unit-header/06.png");
}
header#page-header.opt07{
	background-image: url("../../../solent2019/pix/unit-header/07.png");
}
header#page-header.opt08{
	background-image: url("../../../solent2019/pix/unit-header/08.png");
}
header#page-header.opt09{
	background-image: url("../../../solent2019/pix/unit-header/09.png");
}
header#page-header.opt10{
	background-image: url("..../../../solent2019/pix/unit-header/10.png");
}
header#page-header.opt11{
	background-image: url("../../../solent2019/pix/unit-header/11.png");
}
header#page-header.opt12{
	background-image: url("../../../solent2019/pix/unit-header/12.png");
}
header#page-header.opt13{
	background-image: url("../../../solent2019/pix/unit-header/13.png");
}
header#page-header.opt14{
	background-image: url("../../../solent2019/pix/unit-header/14.png");
}
header#page-header.opt15{
	background-image: url("../../../solent2019/pix/unit-header/15.png");
}
header#page-header.opt16{
	background-image: url("../../../solent2019/pix/unit-header/16.png");
}
header#page-header.opt17{
	background-image: url("../../../solent2019/pix/unit-header/17.png");
}
header#page-header.opt18{
	background-image: url("../../../solent2019/pix/unit-header/18.png");
}
header#page-header.opt19{
	background-image: url("../../../solent2019/pix/unit-header/19.png");
}
header#page-header.opt20{
	background-image: url("../../../solent2019/pix/unit-header/20.png");
}
header#page-header.opt21{
	background-image: url("../../../solent2019/pix/unit-header/21.png");
}
header#page-header.opt22{
	background-image: url("../../../solent2019/pix/unit-header/22.png");
}
header#page-header.opt23{
	background-image: url("../../../solent2019/pix/unit-header/23.png");
}
header#page-header.opt24{
	background-image: url("../../../solent2019/pix/unit-header/24.png");
}
header#page-header.opt25{
	background-image: url("../../../solent2019/pix/unit-header/25.png");
}
header#page-header.opt26{
	background-image: url("../../../solent2019/pix/unit-header/26.png");
}
header#page-header.opt27{
	background-image: url("../../../solent2019/pix/unit-header/27.png");
}
header#page-header.opt28{
	background-image: url("../../../solent2019/pix/unit-header/28.png");
}
header#page-header.opt29{
	background-image: url("../../../solent2019/pix/unit-header/29.png");
}
header#page-header.opt30{
	background-image: url("../../../solent2019/pix/unit-header/30.png");
}
header#page-header.opt31{
	background-image: url("../../../solent2019/pix/unit-header/31.png");
}
header#page-header.opt32{
	background-image: url("../../../solent2019/pix/unit-header/32.png");
}
header#page-header.opt33{
	background-image: url("../../../solent2019/pix/unit-header/33.png");
}
header#page-header.opt34{
	background-image: url("../../../solent2019/pix/unit-header/34.png");
}
header#page-header.opt35{
	background-image: url("../../../solent2019/pix/unit-header/35.png");
}
header#page-header.opt36{
	background-image: url("../../../solent2019/pix/unit-header/36.png");
}
/* Images */
header#page-header.opt50{
	background-image: url("../../../solent2019/pix/unit-header/50.png");
}
header#page-header.opt51{
	background-image: url("../../../solent2019/pix/unit-header/51.png");
}
header#page-header.opt52{
	background-image: url("../../../solent2019/pix/unit-header/52.png");
}
header#page-header.opt53{
	background-image: url("../../../solent2019/pix/unit-header/53.png");
}
header#page-header.opt54{
	background-image: url("../../../solent2019/pix/unit-header/54.png");
}
header#page-header.opt55{
	background-image: url("../../../solent2019/pix/unit-header/55.png");
}
header#page-header.opt56{
	background-image: url("../../../solent2019/pix/unit-header/56.png");
}
header#page-header.opt57{
	background-image: url("../../../solent2019/pix/unit-header/57.png");
}
header#page-header.opt58{
	background-image: url("../../../solent2019/pix/unit-header/58.png");
}
header#page-header.opt59{
	background-image: url("../../../solent2019/pix/unit-header/59.png");
}
header#page-header.opt60{
	background-image: url("../../../solent2019/pix/unit-header/60.png");
}
header#page-header.opt61{
	background-image: url("../../../solent2019/pix/unit-header/61.png");
}
header#page-header.opt62{
	background-image: url("../../../solent2019/pix/unit-header/62.png");
}
header#page-header.opt63{
	background-image: url("../../../solent2019/pix/unit-header/63.png");
}
header#page-header.opt64{
	background-image: url("../../../solent2019/pix/unit-header/64.png");
}
header#page-header.opt65{
	background-image: url("../../../solent2019/pix/unit-header/65.png");
}
header#page-header.opt66{
	background-image: url("../../../solent2019/pix/unit-header/66.png");
}
header#page-header.opt67{
	background-image: url("../../../solent2019/pix/unit-header/67.png");
}
header#page-header.opt68{
	background-image: url("../../../solent2019/pix/unit-header/68.png");
}
header#page-header.opt69{
	background-image: url("../../../solent2019/pix/unit-header/69.png");
}
header#page-header.opt70{
	background-image: url("../../../solent2019/pix/unit-header/70.png");
}
header#page-header.opt71{
	background-image: url("../../../solent2019/pix/unit-header/71.png");
}
header#page-header.opt72{
	background-image: url("../../../solent2019/pix/unit-header/72.png");
}
header#page-header.opt73{
	background-image: url("../../../solent2019/pix/unit-header/73.png");
}
header#page-header.opt74{
	background-image: url("../../../solent2019/pix/unit-header/74.png");
}
header#page-header.opt75{
	background-image: url("../../../solent2019/pix/unit-header/75.png");
}
header#page-header.opt76{
	background-image: url("../../../solent2019/pix/unit-header/76.png");
}
header#page-header.opt77{
	background-image: url("../../../solent2019/pix/unit-header/77.png");
}
header#page-header.opt78{
	background-image: url("../../../solent2019/pix/unit-header/78.png");
}	
header#page-header.opt79{
	background-image: url("../../../solent2019/pix/unit-header/79.png");
	background-position: right;
}
header#page-header.opt80{
	background-image: url("../../../solent2019/pix/unit-header/80.png");
	background-position: right;
}
header#page-header.opt81{
	background-image: url("../../../solent2019/pix/unit-header/81.png");
}
header#page-header.opt82{
	background-image: url("../../../solent2019/pix/unit-header/82.png");
	background-position: right;
}
header#page-header.opt83{
	background-image: url("../../../solent2019/pix/unit-header/83.png");
}
header#page-header.opt84{
	background-image: url("../../../solent2019/pix/unit-header/84.png");
	background-position: center;
}

header#page-header.optlt-helpdesk{
	background-image: url("../../../solent2019/pix/unit-header/lt-helpdesk.jpg");

}

#page-theme-solent2019-pix-unit-header-options #region-main.span8{width:100%;}
table#header-options{width:50%; margin:0}

table#header-options img {
    width: 200%;
}

@media screen and (max-width: 1699px){
	.breadcrumb-button {
		margin-right: 10px;
	}
}

.unit_title{
	display: inline-block;
    max-width: 1680px;
    color: #fff;
	margin-top: 100px;
    line-height: 50px;
	letter-spacing: .25em;
    text-transform: uppercase;
	background: rgba(0,0,0,0.40);
	padding-right: 20px;
	position: absolute;
}

@media screen and (max-width: 1699px){
	.unit_title{
		padding-left: 15px;
	}
}

@media screen and (min-width: 1700px){
	.unit_title{
		padding-left: 20px;
	}
}

@media screen and (max-width: 979px){
	.unit_title{
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 980px){
	.unit_title{
		font-size: 1.9rem;
	}
}

/* header#page-header{
	padding-top: 15px;
} */

fieldset.coursefieldset{
	display: inline-block;
}

@media (max-width: 480px){
	fieldset.fieldsetheader, div#page-navbar-unit {
		display: none;
	}
}

div.divcoursefieldset{
	text-align: center;
}

/* header#page-header-crumbs, header#page-header{
	margin: 0 auto;
    max-width: 1680px;
} */

#auth_outage_warningbar_box{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.auth_outage_warning_period{
    background-color: orange;
}

.auth_outage_ongoing_period{
	background-color: #e20613;
}

.auth_outage_imminent_period{
	background-color: #7A378B;
}

.auth_outage_warningbar_box_title, .auth_outage_warningbar_box_finish{
	color: #fff !important;
}

.auth_outage_warningbar_spacer{
	display:none;
}

/* teach to succeed */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}