{{!
    @template theme_solent2019/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
<form class="search-input-form" action="/course/search.php"><label for="coursesearchbox" class="accesshide">Enter your search query</label><input type="text" style="width:70%" name="search" placeholder="" size="13" tabindex="-1"
    class="form-control"><input type="submit" style="width:30%; padding-left:2%; padding-right:2%; margin-bottom:4px;" class="btn btn-secondary" id="coursesearchbox" value="Search"></form>
    <br>
<!-- <div class='mobile-links'>
{{{ output.custom_menu }}}
<br>
</div> -->

     {{> theme_solent2019/flat_navigation }}
</div>
